################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/src/AppDeBase.Affaires/Interfaces/IRepository.cs
